.btn-agendar-room-events-modal{
    --background: #063A69;
    color: white;
    border-radius: 10px;
    margin-left: 5%;
}

:host {
   .item-interactive.ion-valid{
     --highlight-background: #063A69 !important;
   }
 }

ion-radio {
    --color-checked: #063A69;
}