<ion-content>
  <ion-grid class="custom-grid-room-events">
    <ion-row class="custom-row-room-events">
      <ion-col class="custom-col-room-events" size="6">
        <div class="left-container-room-events">
          <ion-label class="txt-clock-room-events">{{clock | date:'HH:mm':'-0200':'pt'}}</ion-label>
            <ion-label class="txt-room-status-room-events">LIVRE</ion-label>
            <br>
            <ion-label class="txt-room-next-meeting-room-events">Disponível até 10h00</ion-label>
        </div>
      </ion-col>
      <ion-col class="custom-col-room-events" size="6">
        <div>
          <img class="logo-room-events" src="../../assets/nvstec-padrao.png">
          <ion-label class="txt-room-name-room-events">{{ roomName }}</ion-label>
          <br>
          <br>
          <ion-label class="txt-next-events-room-events">Eventos de hoje :</ion-label>
          <br>
          <br>
          <div *ngFor="let event of todayEventsArray">
            <ion-label class="txt-next-events-room-events">{{event.formattedStartHour}}h{{event.formattedStartMinutes}} - {{event.formattedEndHour}}h{{event.formattedEndMinutes}}: {{ event.subject }}</ion-label>
            <br>
            <br>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
