<ion-content>
  <ion-grid class="custom-grid-room-events">
    <ion-row class="custom-row-room-events">
      <ion-col class="custom-col-room-events" size="8">
        <div *ngIf="!currentMeeting">
          <div class="left-container-free-room-events">
            <ion-label class="txt-clock-room-events">{{clock | date:'HH:mm'}}</ion-label>
              <ion-label class="txt-room-status-room-events">LIVRE</ion-label>
              <ion-button class="btn-usar-room-event" (click)="useRoomClicked()">USAR</ion-button>
          </div>
        </div>
        <div *ngIf="currentMeeting">
          <div class="left-container-busy-room-events">
            <ion-label class="txt-clock-room-events">{{clock | date:'HH:mm'}}</ion-label>
              <ion-label class="txt-room-status-room-events">OCUPADA</ion-label>
              <br>
              <ion-label class="txt-room-event-time-room-event">{{currentMeeting.formattedStartHour}}:{{currentMeeting.formattedStartMinutes}} - {{currentMeeting.formattedEndHour}}:{{currentMeeting.formattedEndMinutes}}</ion-label>
              <ion-label class="txt-room-description-room-event">{{ currentMeeting.subject }}</ion-label>
              <ion-button class="btn-finalizar-room-event" (click)="finishMeetingClicked()">FINALIZAR</ion-button>
              <ion-button class="btn-extender-room-event" [disabled]="disabledExtendBtn" (click)="extendRoomClicked()">EXTENDER</ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col class="custom-col-room-events" size="4">
        <div class="right-container-room-events">
          <img class="logo-room-events" src="../../assets/logo.svg">
          <ion-label class="txt-room-name-room-events">{{ roomName }}</ion-label>
          <div class="container-global-next-events-room-events">
            <ion-label class="txt-today-events-room-events">Agendado para hoje:</ion-label>
            <div class="scrollable-area-room-events">
              <div *ngFor="let event of todayEventsArray">
                <div class="container-next-events-room-events" >
                  <ion-label class="txt-next-events-description-room-events">{{ event.subject }}</ion-label>
                  <ion-label class="txt-next-events-room-events">{{event.formattedStartHour}}:{{event.formattedStartMinutes}} - {{event.formattedEndHour}}:{{event.formattedEndMinutes}}</ion-label>
                </div>
              </div>
            </div>
            <br>
            <ion-row class="container-powered-by-room-events">
              <ion-col size="5">
                <ion-label class="label-powered-by-room-events">powered by</ion-label>
              </ion-col>
              <ion-col size="7">
                <img class="logo-powered-by-room-events" src="../../assets/nvstec-monocromatica-azul.svg">
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
