.custom-grid-room-events{
    padding: 0;

    .custom-row-room-events{
        height: 100vh;

        .left-container-free-room-events{
            background-color: #124572;
            height: 100vh;
        
            .txt-clock-room-events{
                display: block;
                font-size: 1.5em;
                color: white;
                padding-left: 3%;
                padding-top: 3%;
                font-family: 'muliextralight';
            }

            .txt-room-status-room-events{
                display: block;
                padding-top: 27%;
                font-size: 5em;
                color: white;
                text-align: center;
                font-family: 'muliextralight';
            }

            .btn-usar-room-event{
                display: block;
                position: absolute;
                left: 35%;
                bottom: 3%;
                --background: white;
                color: #124572;
                height: 15vh;
                width: 34vh;
                font-size: 2em;
            }
        }
        
        .left-container-busy-room-events{
            background-color: #A8183F;
            height: 100vh;
            position: relative;
        
            .txt-clock-room-events{
                display: block;
                font-size: 1.5em;
                color: white;
                padding-left: 3%;
                padding-top: 3%;
                font-family: 'muliextralight';
            }

            .txt-room-status-room-events{
                display: block;
                padding-top: 27%;
                font-size: 5em;
                color: white;
                text-align: center;
                font-family: 'muliextralight';
            }

            .txt-room-event-time-room-event{
                display: block;
                margin-top: 11%;
                margin-left: 3%;
                font-size: 1.3em;
                color: white;
                font-weight: bold;
            }

            .txt-room-description-room-event{
                display: block;
                margin-left: 3%;
                font-size: 1.3em;
                color: white;
            }

            .btn-finalizar-room-event{
                display: block;
                position: absolute;
                left: 3%;
                bottom: 4%;
                --background: #A8183F;
                color: white;
                width: 33vh;
                height: 7vh;
                font-size: 1.3em;
                border: 2px solid white;
                border-radius: 5px;
                font-family: 'muliextralight';
                padding-top: 1%;
            }

            .btn-extender-room-event{
                display: block;
                position: absolute;
                left: 38%;
                bottom: 4%;
                --background: #A8183F;
                color: white;
                width: 33vh;
                height: 7vh;
                font-size: 1.3em;
                border: 2px solid white;
                border-radius: 5px;
                font-family: 'muliextralight';
                padding-top: 1%;
            }
        }

        .right-container-room-events{
            padding: 6%;
        }

        .logo-room-events{
            width: 35vw;
            height: 15vh;
            display: block;
            padding: 5%;
        }
        
        .txt-room-name-room-events{
            display: block;
            padding-left: 5%;
            font-size: 1.8em;
        }

        .txt-today-events-room-events{
            display: block;
            padding-left: 5%;
        }

        .scrollable-area-room-events{
            display: block;
            margin-top: 14%;
            overflow-y: auto;
            height: 50vh;

            .txt-next-events-room-events{
                display: block;
                padding-left: 5%;
            }
    
            .txt-next-events-description-room-events{
                display: block;
                padding-left: 5%;
                font-weight: bold;
                font-size: 1.4em;
            }
        }
    }
}

.custom-col-room-events{
    padding: 0;
}